# Ignore the wifi config details
/main/config/wifi_cfg.json

# Example Module
# Ignore contents of submodule directory  
/main/example_module/**
# Except the .gitkeep to recreate the 'empty' directory.
!/main/example_module/.gitkeep

